.invoice-container .title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 16px;
}

label {
    font-size: 18px;
    text-align: right;
}

.invoice-form {
    margin: 20px auto;
    border: solid 1px #ddd;
    border-radius: 4px;
    padding: 15% 6% 0 6%;
}

.btn-submit {
    width: 45%;
    margin: 20px auto 8px auto;
}

/** 
Dialog Style
*/
#show-dialog {
    cursor: pointer;
    font-size: 18px;
}
  
#popup-dialog {
    display: block;
    width: 280px;
    min-height: 160px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 8px;
}
  
#popup-dialog .header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 6px;
}
  
#popup-dialog .header .title {
    display: inline-block;
    width: 65%;
    margin: 0 auto;
    text-align:center;
    font-size: 18px;
}

#popup-dialog .header #close-dialog {
    display: inline-block;
    float: right;
    width: 14px;
    text-align:center;
    margin-right:10px;
    cursor: pointer;
}

#popup-dialog .message {
    display: flex;
    padding: 10px;
    min-height: 120px;
    align-items: center;
    border-top: 1px solid #ddd;
}

#popup-dialog .message h4 {
    text-align: center;
    width: 100%;
}